In [1]:
print("Hello World")

Hello World

### Syntax

In [ ]:
# This is a comment

### Variables

In [2]:
x = 10 
print(x)

10

### List

In [20]:
# List
# - Allow duplicates
# - Changeable (cannot change, add, remove)
# - Ordered
mylist = ["apple", "banana", "strawberry"]
print(mylist)
print(type(mylist))
print(len(mylist))

thislist = list(("apple", "banana", "strawberry")) # constructor use round brackets
print(thislist)

['apple', 'banana', 'strawberry']
<class 'list'>
3
['apple', 'banana', 'strawberry']

### Tuples

In [23]:
# Tuples
# Allow duplicates
# - Not Changeable (cannot change, add, remove)
# Ordered
mytuple = ("apple", "banana", "stawberry")
print(mytuple)
print(type(mytuple))
print(len(mytuple))

thistuple = tuple(("apple", "banana", "stawberry")) # constructor use round brackets
print(thistuple)

('apple', 'banana', 'stawberry')
<class 'tuple'>
3
('apple', 'banana', 'stawberry')

### Sets

In [26]:
# Sets
# No duplicate
# Unchangeable
# Unordered
myset = {"apple", "banana", "stawberry"}
print(myset)
print(type(myset))
print(len(myset))

thisset = set(("apple", "banana", "stawberry")) # constructor use round brackets
print(thisset)

{'banana', 'apple', 'stawberry'}
<class 'set'>
3
{'banana', 'apple', 'stawberry'}

### Dictionary

In [27]:
# Dictionary
# No duplicate
# Changeable
# Ordered
mydict = {
    "brand": "Ford",
    "model": "mustang",
    "year": 1964
}
print(mydict)
print(type(mydict))
print(len(mydict))

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}
<class 'dict'>
3

### Data type

In [ ]:
# numeric
# sequence
# mapping
# set
# boolean
# binary

### For Loops

In [14]:
fruits = ["apple", "banana", "strawberry"]
for x in fruits:
    print(x)

apple
banana
strawberry

### Functions

In [1]:
def myfunction():
    print("Hello from a function")
    
myfunction()

Hello from a function

In [3]:
def myfunction(name):
    print("Hello my name is " + name)
myfunction("Ming Yan")

Hello my name is Ming Yan

In [5]:
def myfunction(fname, lname):
    print(fname + " " + lname)
myfunction("Yap", "Ming Yan")

Yap Ming Yan

### Lambda

In [6]:
# lambda arguments : expression
x = lambda a : a + 10
print(x(5))

15

In [7]:
y = lambda x : x * 2
print(y(2))

4

In [8]:
x = lambda a,b : a*b
print(x(2,3))

6

In [9]:
x = lambda a,b,c : a+b+c
print(x(1,2,3))

6

In [13]:
def myfunction(n):
    return lambda a : a * n
    
mynum = myfunction(2)
print(mynum(11))

22

### Classes/Objects

In [28]:
class myClass:
    p1 = 5
    
obj1 = myClass()
print(obj1.p1)

5

In [29]:
# __init__() function
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

obj1 = Person("John", 24)
print(obj1.name)
print(obj1.age)

John
24

In [31]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    # self parameter
    def mymethod(self):
        print("Hello my name is " + self.name)
        
obj1 = Person("John", 24)
obj1.mymethod()

Hello my name is John

In [32]:
# empty class need to use pass
class Person: 
    pass

### Inheritance

In [34]:
# Parent class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)
    
# Child class    
class Student(Person):
  pass


x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [35]:
# Parent class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)
    
# Child class    
class Student(Person):
  def __init__(self, fname, lname): # Use the __init__ function
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [38]:
# Parent class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)
    
# Child class    
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear, "!")

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019 !

### Iterators

In [41]:
mytuple = ("apple", "banana", "strawberry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
strawberry

In [45]:
class Mynumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        x = self.a
        self.a += 1
        return x
    
myclass = Mynumbers() 
myiter = iter(myclass)
print(next(myclass))
print(next(myclass))
print(next(myclass))
print(next(myclass))
print(next(myclass))

1
2
3
4
5

In [49]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        if self.a <= 20:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Try...Except

In [52]:
try:
  print(z)
except:
  print("An exception occurred")

An exception occurred

In [53]:
# Multiple except
try:
  print(z)
except NameError:
  print("Variable x is not defined")
except:1
  print("Something else went wrong")

Variable x is not defined

In [54]:
# Else
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [57]:
# Finally
try:
  print("Hello")
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Hello
The 'try except' is finished

In [60]:
# raise an exception
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [61]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

### User Input

In [50]:
username = input("Enter username:")
print("user name is", username)

Enter username:Yap Ming Yan
user name is Yap Ming Yan